Flask
Flask-SocketIO
python-socketio
pandas
openpyxl
gevent
gevent-websocket
Werkzeug
itsdangerous
click
MarkupSafe
Jinja2
bidict
numpy
python-dateutil
pytz
six
tzdata
et-xmlfile
greenlet
zope.event
zope.interface
h11
simple-websocket
wsproto